#img-align {
    display: flex;
    justify-content: center;
    position: relative;
    top: 76px;

    @media #{$brk-wide} {
        display: none;
    }
}

#img-1 {
    width: 250px;
}

#img-2-align {
    @media #{$brk-wide} {
        display: none;
    }
}

#img-2 {
    width: 250px;
    position: relative;
    left: 45px;
}

.toggle {
    text-align: left;
}

#box-align {
    display: none;

    @media #{$brk-wide} {
        @include block-position;
        flex-direction: column;
        top: 20%;
    }
}

#bg-img {
    @media #{$brk-wide} {
        @include block-position;
        width: 500px;
        height: auto;
        top: 80px;
        left: 175px;
        z-index: 2;
    }
}

#bg-pattern {
    @media #{$brk-wide} {
        @include block-position;
        width: 625px;
        height: auto;
        top: -30px;
        z-index: 0;
        left: 50px;
    }
}

#box {
    @media #{$brk-wide} {
    position: absolute;
    top: 230px;
    left: 170px;
    z-index: 3;
    animation: boxupdown 2s alternate infinite;
    }
}
